@font-face {
	font-family: 'Open Dyslexia';
	src: url('/font/OpenDyslexic/Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('/font/OpenDyslexic/Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('/font/OpenDyslexic/Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('/font/OpenDyslexic/Bold-Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic
}
@font-face {
	font-family: 'Archivo';
	src: url('/font/Archivo/VariableFont_wdth,wght.ttf') format('truetype');
	font-style: normal
}
@font-face {
	font-family: 'Archivo';
	src: url('/font/Archivo/Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-style: italic
}
@font-face {
	font-family: 'Avenir Next Variable';
	src: url('/font/AvenirNext/Variable.ttf') format('truetype');
}
@font-face {
	font-family: 'Noboto Flex';
	src: url('/font/NobotoFlex/Variable.woff2');
	font-weight: 140;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
	background: white;
}

body {
	background-color: white;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.7em 0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

:root {
	--box-shadow-y: 0px 8px 9px -4px lightgrey;
	--box-shadow-xy: 2px 8px 9px -4px lightgrey;
	--color-main-desat-50: hsla(199, 50%, 52%, 1);
	--color-main-lighter: rgb(157, 219, 249);
	--color-main: rgb(16, 174, 249);
	--color-selected: lightseagreen;
	--color-grey-lighter: #f7f7f7;
	--color-grey-180: rgb(180, 180, 180);
	--color-grey-70: rgb(70, 70, 70);
	--color-grey-40: rgb(40, 40, 40);
	--color-paleyellow: #f9f7dd;
	--color-link: var(--color-main);
	--color-background: var(--color-main);
	--dim-fontsize-light: 200;
	--dim-header-height: 3rem;
	--dim-main-height: calc(100% - var(--dim-header-height));
	--dim-padding-minor: 0.5rem;
	--dim-padding: 1rem;
	--z-1000: 1000;
}
