@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Light.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

html, body, #app {
	height: 100%;
	width: 100%;
}

body {
	background-color: white;
	color: #333;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 0.5em 0;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.1em;
}

a {
	color: inherit;
}

.distancer {
	margin-bottom: 1rem;
}

:root {
	--color-main-desat-50: hsla(199, 50%, 52%, 1);
	--color-main-lighter: rgb(157, 219, 249);
	--color-main: rgb(16, 174, 249);
	--color-selected: lightseagreen; /* dodgerblue */
	--color-grey-lighter: #f7f7f7;
	--color-grey-70: rgb(70, 70, 70);
	--color-grey-40: rgb(40, 40, 40);
	--color-paleyellow: #f9f7dd;
	--color-link: var(--color-main);
	--color-background: var(--color-main-lighter);
	--dim-header-height: 3rem;
	--dim-main-height: calc(100% - var(--dim-header-height));
	--dim-padding-minor: 0.5rem;
	--dim-padding: 1rem;
}
